* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  min-width: 375px;
}
body {
  padding: 32px 3.32% 24px;
  min-width: 350px;
}
.material-symbols-outlined {
  font-variation-settings: "FILL" 1, "wght" 400, "GRAD" 0, "opsz" 48;
}

h1 {
  margin: 0;
  margin-bottom: 5.6%;
  font-size: clamp(2.4rem, 3.2vw, 3.6rem);
  line-height: clamp(2.9rem, 3.9vw, 4.4rem);

  color: #4e5150;
}
body > div {
  display: flex;
  flex-direction: column;
  row-gap: 39px;
}

.products {
  background: #f2f2f2;
  border-radius: 12px;
  padding: 31px 27px 16px;
  height: fit-content;
}
.product__list {
  display: flex;
  flex-direction: column;
  gap: 29px;
}
.product {
  display: flex;
  gap: 20px;
}
.product img {
  width: clamp(123px, 16.4vw, 136px);
  height: clamp(123px, 16.4vw, 136px);
  border-radius: 13px;
}
.product__info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.product__info div {
  display: flex;
}
.product__name {
  font-size: clamp(1.2rem, 1.6vw, 1.6rem);
  line-height: clamp(1.5rem, 2vw, 2rem);

  color: #4e5150;
}
.product__price {
  font-size: clamp(1.4rem, 1.65vw, 1.6rem);
  line-height: clamp(1.7rem, 2.3vw, 2rem);

  color: #f2994a;
  gap: 16px;
}
.product__price .product__price--discount {
  font-size: clamp(1rem, 1.3vw, 1.2rem);
  line-height: clamp(1.2rem, 1.6vw, 1.5rem);
  text-decoration-line: line-through;

  color: #4e5150;
}
.product__quantity {
  display: flex;
  justify-content: space-between;

  width: 123px;
  padding: 16px 10px;
  font-size: 1.6rem;
  line-height: 2rem;

  color: #333333;

  border: 1px solid #828282;
  border-radius: 12px;
}
.product__quantity button {
  width: 20px;
  height: 20px;
  background: #e0e0e0;
  border-radius: 4px;
  border: none;
  vertical-align: middle;
}
.product__quantity span {
  font-size: 1.6rem;
  line-height: 2rem;
}
.product__total {
  margin-top: 87px;

  font-size: clamp(1.4rem, 1.8vw, 1.8rem);
  line-height: clamp(1.7rem, 2.3vw, 2.2rem);

  color: #333333;
}
.product__total div {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  border-top: 1px solid #bdbdbd;
}

.info {
  display: flex;
  flex-direction: column;
  gap: clamp(45px, 6vw, 58px);
}
.info form {
  display: flex;
  flex-direction: column;
  gap: 45px;
}
.labels {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.info h2 {
  margin-bottom: 12px;
  font-size: clamp(1.4rem, 1.8vw, 1.8rem);
  line-height: clamp(1.7rem, 2.3vw, 2.2rem);

  color: #333333;
}
.info label {
  font-size: clamp(1rem, 1.3vw, 1.2rem);
  line-height: clamp(1.2rem, 1.6vw, 15rem);

  color: #4f4f4f;
}
.info__input {
  margin-top: 5px;
  width: 100%;
  display: flex;
  gap: 12px;
  padding: clamp(14px, 1.8vw, 20px) 12px;

  border: 1px solid #828282;
  border-radius: 12px;
  color: #828282;
}
.info__input span {
  vertical-align: middle;
  line-height: clamp(1.5rem, 2vw, 2rem);
}
.info__input input,
.info__input select {
  width: 100%;
  border: none;
  outline: none;
  appearance: none;

  font-size: clamp(1.2rem, 1.6vw, 1.6rem);
  line-height: clamp(1.5rem, 2vw, 2rem);
}
.info__input select {
  color: #828282;
}
.info :placeholder-shown,
.info__input option {
  color: #333333;
}
.info--horizontal {
  display: flex;
  gap: 24px;
}
.info--horizontal label {
  width: 50%;
}
.info__save {
  display: flex;
  gap: 8px;
  align-items: center;
}
.info__save input {
  border: 1px solid #828282;
  border-radius: 4px;
}
.info__save p {
  font-size: clamp(1rem, 1.3vw, 1.2rem);
  line-height: clamp(1.2rem, 1.6vw, 1.5rem);

  color: #4f4f4f;
}
.info__submit {
  align-self: flex-end;
  width: 166px;
  height: 54px;
  background: #f2994a;
  border-radius: 12px;
  border: none;

  font-size: 1.6rem;
  line-height: 2rem;

  color: #ffffff;
}
.info__submit:hover {
  cursor: pointer;
}

footer {
  margin-top: 95px;
  text-align: center;
  padding: 24px;
}
footer p {
  font-size: 1.4rem;
  line-height: 1.7rem;
  color: #bdbdbd;
}
footer a {
  color: #bdbdbd;
}

@media (min-width: 768px) {
  body {
    width: fit-content;
    margin: 0 auto;
  }
  body > div {
    display: flex;
    flex-direction: row-reverse;
    column-gap: 112px;
  }
}
